{% if alerts %}
	<div id="alerts">{{ alerts }}</div>
{% endif %}

<header>
<nav class="navbar navbar-expand-md shadow-sm">
    <div class="container-fluid">
        <div class="navbar-brand d-xl-none">
            <a class="navbar-brand"  href="https://bloomington.in.gov/" aria-label="Official Homepage of the City of Bloomington, Indiana">
                <img src="https://bloomington.in.gov/static/snowflake-blue.svg" alt="City of Bloomington Logo" height="55" class="d-inline-block align-text-center">
            </a>
        </div>
        <div class="navbar-brand d-none d-xl-block">
            <a class="navbar-brand"  href="https://bloomington.in.gov/" aria-label="Official Homepage of the City of Bloomington, Indiana">
                <img src="{{ base_path }}{{ directory }}/css/images/cob-logo-horizontal.svg" alt="City of Bloomington Logo" style="padding-right:5%;" height="55" class="d-inline-block align-text-center">
				Mayor Kerry Thomson
			</a>
        </div>
        <button class="navbar-toggler p-3" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
            Menu
        </button>
        <div class="collapse navbar-collapse mb-1" id="nav-menu">
            <ul class="navbar-nav flex-grow-1 justify-content-center">
                <li class="nav-item"><a class="nav-link fs-4 fw-bold" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_residents"  aria-controls="offcanvas_residents"  href="{{ base_path }}welcome" >Residents</a></li>
                <li class="nav-item"><a class="nav-link fs-4 fw-bold" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_visitors"   aria-controls="offcanvas_visitors"   href="{{ base_path }}about"   >Visitors</a></li>
                <li class="nav-item"><a class="nav-link fs-4 fw-bold" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_business"   aria-controls="offcanvas_business"   href="{{ base_path }}business">Business</a></li>
                <li class="nav-item"><a class="nav-link fs-4 fw-bold" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_government" aria-controls="offcanvas_government" href="{{ base_path }}city"    >Government</a></li>
                <li class="nav-item"><a class="nav-link fs-4 fw-bold" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_contact"    aria-controls="offcanvas_contact"    href="{{ base_path }}contact" >Connect</a></li>
            </ul>
            <form class="d-flex" id="search-block-form" method="get" action="{{ base_path }}search">
                <input id="query" name="query" type="search" class="form-control me-2" placeholder="Search" aria-label="Search" />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</header>
{% include '@cob/menus/residents.html.twig' %}
{% include '@cob/menus/visitors.html.twig'     %}
{% include '@cob/menus/business.html.twig'     %}
{% include '@cob/menus/government.html.twig' %}
{{ page.primary_menu }}
