{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array data
 #}
<div id="offcanvas_contact" class="offcanvas offcanvas-end" tabindex="-1" aria-label="Contact">
    <header class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </header>

    <ul class="offcanvas-body">
    <li><a class="fs-5 fw-bold" href="{{ base_path }}contact">Contact</a>
        <ul><li><a href="{{ base_path }}city/showers-city-hall">Visit City Hall</a></li>
            <li><a href="{{ base_path }}directory">Staff Directory</a>
            <li><a href="{{ base_path }}departments">Departments</a></li>
            <li><a href="{{ base_path }}uReport">uReport</a></li>
        </ul>
    </li>
    </ul>
</div>
