{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}

<div id="basic-mega-nav-section-four" class="usa-nav__submenu usa-megamenu">
    <div class="grid-row grid-gap-4">
        <div class="usa-col">
            <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                    <a class="text-bold" href="{{ base_path }}city">Government</a>
                    <ul class="usa-nav__submenu-list margin-left-1">
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}mayor">Mayor Kerry Thomson</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}council">City Council</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}clerk">City Clerk</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}boards">Boards &amp; Commissions</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ base_path }}departments">Departments</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>